@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

header {
  background: #2F2235;
  padding: 10px;
  text-align: center; }
  header #main-header {
    position: relative;
    padding: 5px 0 20px 0;
    font-size: 1.6em;
    color: #FFF; }
    header #main-header span {
      color: #34D1D1; }
    header #main-header:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 25%;
      border-bottom: 1px solid #666666; }
  header #name {
    padding: 10px 0 0 0;
    font-size: 0.9em;
    color: #FFF;
    font-weight: 600; }

.challenge-name {
  position: relative;
  margin-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase; }
  .challenge-name:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 25%;
    border-bottom: 1px solid #D1D2D3; }

#cards-wrapper {
  width: 90%;
  margin: 30px auto; }

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 2px solid #D1D2D3;
  margin-bottom: 20px; }
  .card h2 {
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
    border-bottom: 2px solid #D1D2D3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #FFF; }
  .card img {
    height: 250px; }

#code-btn {
  display: block;
  width: 90%;
  max-width: 300px;
  margin: 0 auto 20px auto;
  padding: 15px 0;
  background: #2F2235;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

@media (min-width: 500px) {
  #cards-wrapper {
    display: flex;
    flex-wrap: wrap; }
  .card {
    width: calc(100% / 2 - 24px);
    margin: 10px; }
    .card:first-child {
      margin: 10px; }
    .card:last-child {
      flex-grow: 2; } }

@media (min-width: 768px) {
  .card:first-child {
    flex-grow: 2; }
  .card:nth-child(2), .card:nth-last-child(2) {
    width: calc(100% / 3 - 24px);
    max-width: 355px; }
  .card h2 {
    height: 60px;
    line-height: 60px;
    font-size: 1.2em; }
  .card img {
    height: 240px; }
  .middle {
    width: calc(100% / 3 - 24px); } }
